body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aliceblue;
}

h1 {
    font-size: 3em;
    margin-top: 80px;
}

.container {
    border: 1.4px solid black;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.counter {
    font-size: 4em;
    font-weight: 500;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin: 20px;
}