body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aliceblue;
}

h1 {
    font-size: 4em;
    margin-top: 50px;
}

.container {
    border: 1.4px solid black;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 10px lightgray;
}

.counter {
    font-size: 5em;
    font-weight: 500;
    margin: 10px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin: 30px 10px;
}